@using System.Web.Mvc.Html
@using System.Web.Mvc.Razor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>The Cable Store</h1>
        <div id="user-box">
            <div id="welcome-message">Welcome @ViewBag.username!
                <span id="logout">@Html.Raw(ViewBag.logLink)</span>
            </div>
            @Html.Raw(ViewBag.optionLink)
        </div>
        <hr />
    </header>

    <div id="main-container">
        @RenderBody()
    </div>
    
    <div id="shopping-cart">
        Items in your cart: <br />
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/Scripts/jquery.validate-vsdoc.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)

    <script>
        WEBSTORE.script.init();
    </script>
</body>
</html>
