@model Webstore.Models.customer

@{
    Layout = null;
}

<div>
    @using(Html.BeginForm()){
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Log In</legend>
                <div>
                    @Html.LabelFor(model => model.email, "E-mail")
                </div>
                <div>
                   @Html.EditorFor(model => model.email)
           
               </div>
                   <label for="password">Password</label>
                
                <div>            
                   @Html.Password("Password")
           
               </div>
            <input type="submit" value="Log In" />
        </fieldset>
    <h1>@ViewBag.logInMessage</h1>
    }

</div>
@Html.ActionLink("to my orders!", "/orders")