@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_plain.cshtml";
}

<h2>Order confirmation</h2>


@Html.Raw(ViewBag.optionLink) <br />
<h4>The Order will be sent to:</h4>
@if (ViewBag.customer != null) {
    <p>@ViewBag.customer.firstname @ViewBag.customer.lastname</p>
    <p>@ViewBag.customer.address</p>
    <p>@ViewBag.customer.zipcode @ViewBag.customer.city.name</p>
} else {
    <p>@ViewBag.anonymousInfo.firstname  @ViewBag.anonymousInfo.lastname</p>
    <p>@ViewBag.anonymousInfo.address</p>
    

}
<span id="confirm-order-message">@ViewBag.confirmOrderMessage</span><br /> 
Log out @Html.Raw(ViewBag.logLink) <br />
Back to store @Html.Raw(ViewBag.backToStoreLink) <br />