@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_plain.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Confirm your order</h2>
    <table>
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Total price</th>
        </tr>
    
        @foreach (var p in ViewBag.products)
        {
            <tr>
                <td>@p.Key.Id</td>
                <td>@p.Key.name</td>
                <td>@p.Value</td>
                <td>@(@p.Value * @p.Key.price)</td>
            </tr>
            
        }
    </table>
    <br /><br />
    @Html.ActionLink("Buy!", "../order/confirmorder", null, new {@id = "confirm-order"})<br />
    <br />
    @Html.ActionLink("Back to the store", "../product/showallproducts")
</body>
</html>
